[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
apache-airflow = "*"
"psycopg2" = "*"
google-api-python-client = "*"
google-cloud-bigquery = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "2.7"
